---
interface Props {
  fill: string;
  flip?: boolean;
}

const { fill, flip = false } = Astro.props;
---

<div class="wave-divider" style={`color: ${fill}; ${flip ? 'transform: scaleY(-1)' : ''}`}>
  <svg viewBox="0 0 1440 80" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" style="display:block;width:100%;height:80px">
    <path d="M0,40 C360,80 1080,0 1440,40 L1440,80 L0,80 Z" fill="currentColor"/>
  </svg>
</div>

<style>
  .wave-divider {
    line-height: 0;
    margin: 0;
    padding: 0;
  }
</style>
